<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Medical Report Summarizer</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <nav class="navbar">
    <div class="logo">MediSummarizer</div>
    <div class="nav-links">
      <a href="upload.html">Upload</a>
    </div>
  </nav>

  <section class="hero">
    <h1>Simplify Your Medical Reports</h1>
    <p>Upload. Summarize. Understand.</p>
    <a href="upload.html" class="btn">Get Started</a>
  </section>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>